
.banner-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; 
  max-height: 600px;
  overflow: hidden;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.banner-image.active {
  opacity: 1;
}

/* @media screen and (max-width: 1080px) {
  .banner-container {
    height: 400px;
  }
} */

/* @media screen and (max-width: 600px) {
  .banner-container {
    max-height: 200px;
  }
} */