---
import HeaderLink from './HeaderLink.astro';
---

<header>
    <nav>
        <h1><a href="/">plesova_katerina</a></h1>
        <div class="topbar-center">
            <HeaderLink href="/about">About</HeaderLink>
            <HeaderLink href="/ux-portfolio">UX/UI Design</HeaderLink>
            <HeaderLink href="/artwork-portfolio">Artwork</HeaderLink>
        </div>
        <div>
            <HeaderLink href="/contact">Contact</HeaderLink>
        </div>
    </nav>
</header>

<style>
    header {
		margin: 0;
		padding: 0 1em;
		background: black;
	}
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 3rem 0.8rem 3rem;
    }

    h1 {
        color: white;
        font-size: 1.5rem;
        margin-right: 2rem;
    }

    a {
        color: white;
        text-decoration: none;
        margin-right: 1rem;
    }

    .topbar-center a {
        border-bottom: 4px solid transparent;
    }

    .topbar-center a.active, .topbar-center a:hover {
		text-decoration: none;
        color: var(--accent);
		border-bottom-color: var(--accent);
	}

    .topbar-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
</style>